*{padding: 0;margin: 0;}
.waibu{border-bottom: 1px solid #000000}
.hader{border: 1px solid #ffffff;padding: 20px;width: 1171px;}
.hader:hover{border: 1px solid red}
.hader:hover #xiugai{display: block}
p{display: inline-block;}
.hader_1{width: 135px;height: 150px;}
.hader_1 img{width: 100%;height: 100%;}
.hader_2{position: relative;}
.hader_2 h3{line-height: 70px;font-size: 40px;}
.hader_2 .wenben{font-size: 20px}
.hader_2 .wenben2 p{font-size: 14px;font-weight: bold}
.hader_2 .wenben2 span{color: #FF9F20;font-size: 14px}
.hader_3{margin-top:20px; }
#xiugai{position: absolute;top:20px;left:93%;font-size: 20px;color: #FF9F20;display: none;}


.hader1{border: 1px solid red;padding: 20px;margin-top: 20px;display: none;}
.hader1:hover{border: 1px solid red}
.hader1:hover #xiugai{display: block}
.hader1 .hader_2  .input_1 p{font-size: 16px;}
.hader1 .hader_2  .input_1 span{color: red;}
.hader1 .hader_2  .input_1 input{
    width: 200px;height: 30px;
    border: 1px solid #dddddd;
    margin: 10px 0;
}
#bot1{width: 80px;height: 30px;background: #ff6000;border: 1px solid #ff6000;margin: 0 15px;}
#bot2{width: 80px;height: 30px;border: 1px solid #bbbbbb}
#save{width: 200px;height: 30px;margin: auto}
.hader1 .xuankuang{width: 200px;height: 30px;
    border: 1px solid #dddddd;
    margin: 10px 0;
}
.experience{border-bottom: 1px solid #000000}
.passl .experience .hader-top{margin-top: 20px;}
.passl .experience .hader-bot{border: 1px solid #ffffff;padding: 20px;margin-top: 20px;width: 1171px;height: auto;}
.passl .experience .hader-bot:hover{border: 1px solid red}
#shanchu{line-height: 18px;display: none}
.passl .experience .hader-bot:hover #shanchu{display: block}
.passl .experience .hader-bot .xiangxi{line-height: 30px;}

.passl .experience .hader-bot-bot{border: 1px solid red;padding: 20px;margin-top: 20px;width: 1171px;height:auto;;}
.passl .experience .hader-bot-bot .one .one_one{text-align: right;padding-right: 0;}
.passl .experience .hader-bot-bot .one .one_one p{font-size: 16px;}
.passl .experience .hader-bot-bot .one .one_two input{width: 130px;height: 30px;border: 1px solid #dddddd;padding-left: 0;}

.yushe{text-align: right;padding: 0}
.yushe1{ height:30px;line-height: 30px;}
.yushe2{ margin: 10px 0;}
.yushe3{color:red;}

#bot3{width: 80px;height: 30px;background: #ff6000;border: 1px solid #ff6000;margin: 0 15px;}
#bot4{width: 80px;height: 30px;border: 1px solid #bbbbbb}
#save1{width: 200px;height: 30px;margin: auto}



.project-experience .project-experience-bot{
    border: 1px solid #ffffff;
    padding: 20px;
    margin-right: -15px;
    margin-left: -15px;
    width: 1171px;
    height: auto;
}

.project-experience .project-experience-bot:hover{ border: 1px solid red;}
.project-experience-bot .gongshi{width: 285px;height: 28px;border: 1px solid #cccccc }
.project-experience-bot .shijian,.project-experience-bot .shijian2{width: 130px;height: 30px;border: 1px solid #cccccc}
.project-experience-bot .p{text-align: right}


#bot7{width: 80px;height: 30px;background: #ff6000;border: 1px solid #ff6000;margin: 0 15px;}
#bot8{width: 80px;height: 30px;border: 1px solid #bbbbbb}
#bot20{width: 80px;height: 30px;background: #ff6000;border: 1px solid #ff6000;margin: 0 15px;}
#bot21{width: 80px;height: 30px;border: 1px solid #bbbbbb}
#shanchu2{;display: none;}
#shanchu2 span{font-size: 16px;color: #1b6d85}
.project-experience .project-experience-bot:hover #shanchu2{display: block}

#shanchu3{display: none}
#shanchu3 span{font-size: 16px;color: #1b6d85}
.Education-cent{
    border: 1px solid #ffffff;
    padding: 20px;
    margin-right: -15px;
    margin-left: -15px;
    width: 1171px;
    height: auto;
}
.Education-cent:hover{ border: 1px solid red}
.Education-cent:hover #shanchu3{display: block}
.Education-cent2{width: 1171px;height: auto;border:1px solid red;padding: 20px;display: none;}
.Education-cent2 .p{text-align: right}
.Education-cent2 .gongshi{width: 280px;height: 28px;border: 1px solid #cccccc}
.Education-cent2 .shijian,.Education-cent2 .shijian2{width: 130px;height: 30px;border: 1px solid #cccccc}
.Education-cent2 select{width: 280px;height: 28px;border: 1px solid #cccccc}
#bot15{width: 80px;height: 30px;background: #ff6000;border: 1px solid #ff6000;margin: 0 15px;}
#bot16{width: 80px;height: 30px;border: 1px solid #bbbbbb}

#bot18{width: 80px;height: 30px;background: #ff6000;border: 1px solid #ff6000;margin: 0 15px;}
#bot19{width: 80px;height: 30px;border: 1px solid #bbbbbb}

#bot30{width: 80px;height: 30px;background: #ff6000;border: 1px solid #ff6000;margin: 0 15px;}
#bot31{width: 80px;height: 30px;border: 1px solid #bbbbbb}
#save11{width: 200px;height: 30px;margin: auto}





























