/*样式的预设*/
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,input,dl,dt,dd,a{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #000000}
img,input{border:none;}
.clear{clear:both;}
i{font-style:normal;}
input{outline: none;}

/*  头部样式的设定*/
#body{background: url("../img/505.jpg") no-repeat fixed;}
.head_top{
    width: 100%;
    height: 100px;
    border-bottom:1px solid #cccccc ;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
   background: #ffffff;
}
.head{
    width: 1190px;
    height: 100px;
    margin: auto;

}
.head .logo{
    width: 150px;
    height: 100px;
    float:left;
}
.head h3{
    display: inline-block;
    line-height: 100px;
    margin-left: 40px;
}
.head img{
    width: 100%;
    height: 99%;
}
.head ul{
    float: right;
    margin-right: 30px;
}
.head ul li{float: left;}
.head ul li a{font-size: 14px;line-height: 100px;}
      /*      头部样式结束     */


      /*      登录板块开始     */
.content{
    width: 1120px;
    height: 690px;

    margin: auto;
    padding:30px;
    position: relative;
}

.content .right{
    opacity: 0.4;
    width: 55%;height: 66%;
    margin-top: 40px;
    border: 1px solid #A0B1C4;
    float: right;
    background: #ffffff;;
    position: absolute;top:66px;left: 258px;
    border-radius: 10px;
box-shadow: 3px 30px 45px rgba(0,0,0,0.5) ;
}
.content .right .top{
    width: 100%;height: 50px;
    border-bottom: 1px solid #A0B1C4;
    border-left: 0;
}
.content .right .top h2{

    line-height: 50px;
    text-align: center;
    color: #2eb398;

}
.content .right .bot{
    padding: 20px 20px 20px 150px;
}
.content .right .bot .anniu1,.content .right .bot .anniu2{
    width:75%;height: 45px;
    border: 1px solid #96A5B4;
    border-radius:4px; ;
    margin: 25px 0;

}
.content .right .bot .bot_top1,.content .right .bot .bot_top2{width: 80%;height: 100%;}
.content .right .bot .anniu1 span,.content .right .bot .anniu2 span{
    width: 60px;height: 100%;text-align: center;
}

.content .right .bot .bot_but{
    width:100%;height: 45px;
    border: 1px solid #96A5B4;
    border-radius:4px; ;
    margin: 15px 0;
    background: #FAFFBD;
}
.content .right .bot .bot_b{
    width: 10px;
    height: 10px;
}
.content .right .bot button{

    width: 150px;height: 30px;
    margin: 8px 0px 0px 75px;


    text-align: center;

}
.content .right .bot ul{width: 100%;height: 22px;display: inline-block;margin-top: 87px;}
.content .right .bot ul li{float: right;color: red;}
.content .right .bot ul li a{color: red;}
.content .right .bot ul li a span{margin-right: 10px;color: #000000;animation: aotu .8s infinite;}
@keyframes aotu{
    0%{margin-right:0px; }
    10%{margin-right:5px; }
    25%{margin-right:10px; }
    50%{margin-right:15px; }
    60%{margin-right:10px; }
    80%{margin-right:5px; }
    100%{margin-right:0px; }
}

/*      登录板块结束     */
