/*样式的预设*/
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,input,dl,dt,dd,a{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #000000}
img,input{border:none;}
.clear{clear:both;}
i{font-style:normal;}
input{outline: none;}

/*  头部样式的设定*/
.head_top{
    width: 100%;
    height: 100px;
    border-bottom:1px solid #cccccc ;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}
.head{
    width: 1190px;
    height: 100px;
    margin: auto;

}
.head .logo{
    width: 150px;
    height: 100px;
    float:left;
}
.head h3{
    display: inline-block;
    line-height: 100px;
    margin-left: 40px;
}
.head img{
    width: 100%;
    height: 99%;
}
.head ul{
    float: right;
    margin-right: 30px;
}
.head ul li{float: left;}
.head ul li a{font-size: 14px;line-height: 100px;}
.project .form-inline{width: 500px;}
.project{width: 900px;height: 1000px;border: 1px solid #cccccc;margin:50px auto;}
.project h1{margin: 50px;}
.project-top-width{width: 100%;margin: 20px auto;}
#project-bot-width{width: 80%}
#bot1{width: 80px;height: 30px;background: #ff6000;border: 1px solid #ff6000;margin: 0 15px;}
#bot2{width: 80px;height: 30px;border: 1px solid #bbbbbb}
#save{width: 200px;height: 30px;margin:0 auto;padding-top:20px; }
















