/*样式的预设*/
ul,ol{list-style:none;}
a{text-decoration:none;color: #000000}
img,input{border:none;}
.clear{clear:both;}
i{font-style:normal;}


*{margin: 0;padding: 0;}
input{outline: none;}
body{
    overflow: hidden;
    position: inherit
}
.tao{
    width: 100%;height: 1000px;
    background: #000;
    display: none;
    opacity: 0.2;
    position: absolute;
    top:0px;left:0px;
}
.cheng{
    width:800px;height: 600px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid blue;
    position: absolute;
    top:200px;left: 50%;
    margin-left:-200px;

    display: none;
}
.cheng h1{text-align: center;margin-top: 20px;color: red;}
.cheng p{color: blue;font-size: 12px;margin-top: 30px;text-align: center;}
.cheng button{width: 81px ;height: 41px;background: red;border: 0;position: absolute;bottom: 15px;left: 45%;border-radius: 5px;}
.cheng a{position: relative;top:0;right:0;font-weight: bold;}

.banner{width: 1212px;height: 740px;margin: auto;border-bottom: 1px solid #cccccc}
.banner .banner_left{width: 65%;height: 100%;float: left;border-right:1px solid #cccccc }
.banner .banner_right{width: 35%;height: 100%;float: right}
.banner_left .anniu1,
.banner_left .anniu2,
.banner_left .anniu3,
.banner_left .anniu4,
.banner_left .anniu5,
.banner_left .anniu6
{
    width:50%;height: 45px;
    border: 1px solid #96A5B4;
    border-radius:4px;
    margin: 32px 0 0 25%;;


}

.banner_left .bot_top1{width: 71%;height: 100%;}
.banner_left .bot_top2{width: 53%}
.banner_left i{font-size: 12px;color: #cccccc;display: none;}
.banner_left span{
    height: 100%;text-align: center;padding: 0 10px;;
}
button{width: 81px;height: 43px;border: 1px solid #cccccc}
#button{width: 300px;height: 50px;background: red;margin: 30px 0 0 25%;border: 1px solid red;border-radius:5px;hidden:"hidden" }
.xuanze{font-size: 10px; margin: 50px 0 0 25%;;}
.qiye span{display: inline-block;font-size: 20px;margin-right:20px; }
.qiye p{display: inline-block;font-size: 20px;border-bottom: 1px solid #cccccc}
.qiye{line-height: 100px;margin: 100px 0 0 30px }
.english span{display: inline-block;font-size: 20px;margin-right:20px; }
.english p{display: inline-block;font-size: 20px;}
.english{line-height: 100px;margin-left: 30px}
.denglu{float: right;line-height: 100px;font-size: 18px;}
.denglu span{color: #cccccc}
.denglu i{margin: 0 5px;}